/*
	color
	red: #FF5656
	white: #EDF2F6
	blue: #6A7EFC
	gray: #494953

	blue1: #0A2647
	blue2: #144272
	blue3: #205295
	blue4: #2C74B3
*/

.hero-container {
	text-align: center;
	position: relative;
}

.hero-text-container {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.70;
}

.hero-text-container p {
	max-width: 450px;
	margin: 0px auto 20px auto;
	padding: 0px 10px;
}

.hero-btn-container {
	position: absolute;
	top: 450px;
	left: 50%;
	transform: translateX(-50%);
}

@media screen and (min-width: 550px) {
	.hero-btn-container {
		top: 370px;
	}
}

.hero-btn-container button {

}

.art-directed {
	height: 90vh;
}
@media screen and (max-width: 950px) {
  .art-directed {
    width: 100%;
    height: 80vh;
  }
}

.card-container {
	width: 18rem;
	background-color: #494953;
	border: none;
}

@media screen and (min-width: 900px) {
	.card-container {
		width: 22rem;
	}
}