/*
	color
	red: #FF5656
	white: #EDF2F6
	blue: #6A7EFC
	black: #494953
*/

.hero-container {
	text-align: center;
	position: relative;
}

.hero-text-container {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.70;
	color: #EDF2F6;
	font-weight: bold;
	font-size: 1.2rem;
}

.hero-btn-container {
	position: absolute;
	top: 320px;
	left: 50%;
	transform: translateX(-50%);
}

.hero-btn-container button {
	color: #EDF2F6;
	font-weight: bold;
	font-size: 1.2rem;
}

.art-directed {
	height: 90vh;
}
@media screen and (max-width: 950px) {
  .art-directed {
    width: 100%;
    height: 80vh;
  }
}