/*
	color
	red: #FF5656
	white: #EDF2F6
	blue: #6A7EFC
	gray: #494953

	blue1: #0A2647
	blue2: #144272
	blue3: #205295
	blue4: #2C74B3
*/

body {
	overflow-x: hidden;
	background-color: #0A2647;
	color: #EDF2F6;
	font-weight: bold;
	font-size: 1.25rem;
	margin-bottom: 150px; /*fixed bottom footer will hide content*/;
	margin-top: 56px; /*for fixed navbar*/
}
body > :first-child {
	overflow-x: hidden;
}

@media screen and (min-width: 992px) {
	body {
		margin-top: 62px;
	}
}

h1 {
	font-weight: bold;
	font-size: 2rem;
}

a {
	color: #EDF2F6;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
	color: #FF5656;
}

.footer {
	background-color: #494953;
}