/*
	color
	red: #FF5656
	white: #EDF2F6
	blue: #6A7EFC
	gray: #494953

	blue1: #0A2647
	blue2: #144272
	blue3: #205295
	blue4: #2C74B3
*/

body {
	overflow-x: hidden;
	background-color: #0A2647;
	color: #EDF2F6;
	font-weight: bold;
	font-size: 1.25rem;
	margin-bottom: 150px; /*fixed bottom footer will hide content*/;
}
body > :first-child {
	overflow-x: hidden;
}

h1 {
	font-weight: bold;
	font-size: 2rem;
}

a {
	color: #EDF2F6;
  text-decoration: none;
  text-transform: uppercase;
}

a:link{
	color: #EDF2F6;
}

a:visited {
	color: #EDF2F6;
}

a:hover {
	color: #FF5656;
}

a:active {
	color: #FF5656;
}

a:focus {
	color: #FF5656;
}

.main-container {
	padding: 56px 0px; /*for fixed navbar*/
}

@media screen and (min-width: 992px) {
	.main-container {
		padding: 62px 0px; /*for fixed navbar*/
	}
}

.footer {
	background-color: #494953;
}